body {
    background: lightblue;
}
h3 {
    color: gray;
}

#title {
    text-align: center;
}

#imageSuperman {
    display: block;
    width:172px;
    height:249px;
}

#p1 {
    text-indent: 4em;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
li {
    color: black;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}